// contacts
.contacts {
	.contacts-box {
		padding-right: 20px;
		@media screen and (max-width: 1500px) and (min-width: 1250px) {
			.xx-big {
				font-size: 18px;
				line-height: 2em;
				margin-top: 2.3em;
			}
		}
	}
	.feedback-box {
		padding-left: 20px;
		.btn {
			margin-top: 20px;
		}
	}
	.contacts-box,
	.feedback-box {
		width: 50%;
		@media screen and (max-width: 1250px) {
			width: 100%;
			padding: 0;
		}
	}
}